<div class="unit one-sixth hide-on-mobiles">
  <aside>
    {% for section in site.data.docs %}
    <h4>{{ section.title }}</h4>
    {% include docs_ul.html items=section.docs %}
    {% endfor %}
    <h4>Developer guide</h4>
    <ul>
      <li><a class="page-link" href="{{ site.baseurl }}/dev/">Development</a></li>
      <li><a class="page-link" href="{{ "/api/" | prepend: site.baseurl }}">API</a></li>
      {% if site.noSource == nil %}
      <li><a class="page-link" href="{{ "/source/" | prepend: site.baseurl | append: site.sourceURL }}">Source</a></li>
      {% endif %}
    </ul>
  </aside>
</div>
