<div class="docs-nav-mobile unit whole show-on-mobiles">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the docs…</option>
    {% for section in site.data.docs %}
    <optgroup label="{{ section.title }}">
      {% include docs_option.html items=section.docs %}
    </optgroup>
    {% endfor %}
    <optgroup label="Developer guide">
      <option value="{{ site.baseurl }}/dev/">Development</option>
      {% if site.noApi == nil %}
      <option value="{{ "/api/" | prepend: site.baseurl }}">API</option>
      {% endif %}
      {% if site.noSource == nil %}
      <option value="{{ "/source/" | prepend: site.baseurl | append: site.sourceURL }}">Source</option>
      {% endif %}
    </optgroup>
  </select>
</div>
