<div class="unit one-sixth hide-on-mobiles">
  <aside>
    <h4>Filters</h4>
    <ul>
      <li class="{% if page.title == 'News' %}current{% endif %}">
        <a href="{{ site.baseurl }}/news/">All News</a>
      </li>
      {% for cat in site.categories %}
      <li class="{% if page.title == cat[0] %}current{% endif %}">
        <a href="{{ site.baseurl }}/news/{{ cat[0] }}">{{ cat[0] }}</a>
      </li>
      {% endfor %}
    </ul>
    <h4>Latest News</h4>
    <ul>
        {% for post in site.posts  limit:5 %}
        {% unless post.categories contains 'release' %}
        <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
  </aside>
</div>
